# History files
.Rhistory
.Rapp.history
.rda
/figures/*.rda

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# LaTeX Files
tables/*.aux
tables/*.fdb_latexmk
tables/*.fls
tables/*.log
tables/*.gz

# Mac
.DS_Store
